* {
  box-sizing: border-box;
}

body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.keys {
  width: 452px;
  height: 100vh;
  margin: 200px auto;
  /* border: 2px solid black;
  border-radius: 5px; */
}

.key {
  float: left;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.white {
  width: 50px;
  height: 200px;
  border: 2px solid black;
  border-radius: 2px;
  z-index: 1;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* transition: all 0.1s ease; */
}

.black {
  width: 30px;
  height: 100px;
  border: 2px solid black;
  border-radius: 2px;
  margin: 0 0 0 -15px;
  color: white;
  z-index: 2;
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.05s ease;
}

.key span {
  font-family: 'Roboto Slab', serif;
}

.d, .e, .g, .a, .b {
  margin-left: -15px;
}

.playing {
  border: 3px inset #0c69ff;
  box-shadow: 0 0 1rem #0c69ff;
}
